*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  main{
   background-image: url("https://p4.wallpaperbetter.com/wallpaper/712/644/866/starry-sky-stars-universe-violet-wallpaper-preview.jpg");
    width: 100vw;
    height: 100vh;
  }
  html{
    font-size: 65.5%
  }
  .cajita{
    border:0.1rem red solid ;
    width: 15rem;
    height: 2rem;
    background-color:black;
    text-align: center;
    color: white;
    font-size: 1.5rem;
  position: absolute;
  top: 7rem;
  left: 14rem;
  border-radius: 1rem;
  
  }
  .cajita2{
    border:0.1rem red solid ;
    border-radius: 1rem;
    width: 40rem;
    height: 20rem;
    position:relative;
    background-color: black;
  top: 8rem;
  left: 2rem;
  
  padding: 5rem;
  }
  
  .vader-des{
    position: relative;
    color: aliceblue;
    text-align: center;
    bottom: -7.5rem;
    font-size: 1.1rem;
    
  }
  .cajita2 img{
    width: 15rem;
  height: 10rem;
    position: absolute;
    top: 2rem;
    left: 12rem;
  }
  .nav{
    background-color: black;
    color: rgb(247, 210, 0);
    height: 4rem;
  
  }
  .nav li{
    display:inline-block;
    font-size: 2rem;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
    
   
  }
  .nav img{
    width: 10rem;
    height: 3rem;
   
  }
  section{
    position: absolute;
    left: 40rem;
    top: 10rem;
  }
  aside, section {
    display: inline-block;
    height: 80vh;
  }
  aside {
    border:0.1rem rgb(247, 210, 0 )solid;
    width: 9vw;
    height: 70vh;
    background-color: black;
  
  }
 
  
 
  #img1{
    
    border-radius: 1px;
 
    height: 10vh;
    margin: 1vh;
   
  }
  #img2{
    border-radius: 1px;

    width: 4.5vw;
    height: 10vh;
    margin: 1vh;
  }
  #img3{
    border-radius: 1px;
   
    width: 4.5vw;
    height: 10vh;
    margin: 1vh;
  }
  #img4{
    border-radius: 1px;
   
    width: 4.5vw;
    height: 10vh;
    margin: 1vh;
  }
  figcaption{
    font-size: 1.6rem;
    color: rgb(247, 210, 0);
  }
  